/** https://codepen.io/rebelchris/pen/jOMGweo **/
/** source code webside**/

/* width */
::-webkit-scrollbar {
	display: block;
	position: relative;
	right: 2px;
	border-radius: 8px;
	border: solid  black 2px;
	width: 14.5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 2px;
	background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border: solid #f1f1f1 3.5px;
	border-radius: 8px;
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

:root {
  /** sunny side **/
  --blue-background: #C2E9F6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #111317;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
	position: relative;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue-background);
  z-index: -1;
  width: 100%;
  height: 1100px;
  transition: all 250ms ease-in;
}

.toggle--checkbox {
  display: none;
}
.toggle--checkbox:checked {
  /** This will all flip from sun to moon **/
  /** Change the label color **/
}
.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 60px;
  width: 5px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 5px;
  height: 5px;
  top: -25px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 5px;
  height: 5px;
  left: -30px;
  top: 20px;
}
.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 200px;
  height: 100px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 5px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}
.toggle--label-background {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 135px;
  top: 45px;
  transition: all 150ms ease-in;
}
.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -20px;
  transition: all 150ms ease-in;
}
.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -10px;
  transition: all 150ms ease-in;
}
.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 82px;
  height: 82px;
  border: 5px solid var(--yellow-border);
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  left: 143px;
  top: 23px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}
@keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 4px;
  }
}

/*button design*/
/*WEBSITE button82*/
/*https://getcssscan.com/css-buttons-examples*/




/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.add_edit_account_outer {
	border-top-left-radius: 20px;
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
	background: red;
	z-index: 10;
	padding: 30px;
	    flex-direction: column;
    align-items: stretch;
}

.add_edit_account_inner {
	display: flex;
	flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;    
}

.all_nick_buttons {
	display: flex;
	    position: relative;
    flex-wrap: wrap;
}

.nick_button_div {
	    height: 62px;
}

.nick_button_press_part_outer {
	position: relative;
	height: 62px;
	width: 100%;
	top: -62px;
	display: flex;
}


.nick_button_press_part_inner {
	height: 62px;
	width: 33.3%;
	cursor: pointer;
	display: flex;
	align-items: center;
    justify-content: center;
	
}

.deleteelementpart {
	display: none;
}

.deleteelementpart:hover {
	background: rgb(255 0 0 / 50%);
}


.changecolorpart {
	background-color: rgb(255 0 0 / 22%);
}

.changecolorpart:hover {
	background-color: rgb(255 0 0 / 50%);
}

.copynicknamepart {
	background-color: rgba(57,215,255,0.16);
}
.copynicknamepart:hover {
	background-color: rgba(57,215,255,0.50);
}

.copypasspart {
	background-color: rgba(31,167,25,0.17);
	
}
.copypasspart:hover {
	background-color: rgba(31,167,25,0.50);
}

.lower20icons {
	font-size: 40px;
}

.nick_main_div {
	padding-bottom: 40px;
	height: 62px;
	position: relative;
}

.pass_main_div {
	position: relative;
}
/*upper 20*/
			.upper20_accounts {
				display: flex;
				flex-wrap: wrap;
			}
.nick_and_pass_button {
	display: flex;
	height: 62px;
				background: #4caf50;
				text-align: center;
				font-size: 18.9px;
				cursor: pointer;
				border: 2px solid green;
				overflow: hidden;    
	flex-direction: column-reverse;
}

.nick_button_div {
}

.upper20_button_press_part_outer {
	position: relative;
	height: 62px;
	width: 100%;
	display: flex;
	top: 62px;
}


.upper20_button_press_part_inner {
	height: 62px;
	width: 50%;
	color: rgba(0,0,0,0.7);
	cursor: pointer;
	display: flex;
	align-items: center;
    justify-content: center;
	
}

.changeupper20part {
	display: none;
	background-color: rgb(255 0 0 / 22%);
}

.changeupper20part:hover {
	background-color: rgb(255 0 0 / 50%);
	color: black;
}

.copyupper20nicknamepart {
	background-color: rgba(57,215,255,0.10);
}
.copyupper20nicknamepart:hover {
	background-color: rgba(57,215,255,0.50);
	color: black;
}

.copyupper20passpart {
	background-color: rgba(103,40,41,0.20);
	
}
.copyupper20passpart:hover {
	background-color: rgba(103,40,41,0.60);
	color: black;
}

.upper20icons {
	font-size: 40px;
}
